<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neopixl.pushpixl" >

    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application>

    </application>
</manifest>
